#container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ios_header{
  height: 2%;
  width: 100%;
  left: 0%;
  top: 0%;
  background-color: #2F80ED;
}

#app-name-img{
  position: absolute;
  left: 0%;
}

#time-img{
  position: absolute;
  left: calc(50% - 10%/2);
}

#battery-img{
  position: relative;
  right: -91%;
}

#back-button{
  top: 10%;
  left: 50%;
}

.title{
  position: absolute;
  width: 30%;
  height: 135%;
  left: calc(50% - 30%/2);
  top: 0%;
  background-color: #2F80ED;
  border-radius: 8px;
  z-index: -1;
  text-align: center;
}

#top-words{
  position: relative;
  width: 70%;
  left: calc(50% - 70%/2);
  top: 30%;
  font-family: Sofia Pro;
  font-weight: 300;
  font-size: .9em;
  color: white;
}


#bottom-words {
  position: relative;
  width: 88%;
  left: calc(50% - 88%/2);
  top: 40%;
  font-family: Sofia Pro;
  font-size: 1.1em;
  color: white;
}

.headers {
  position: absolute;
  top: 150%;
  left: 10%;
  width: 80%;
  font-family: Sofia Pro;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
}

#line {
  position: absolute;
  left: 0em;
  top: 0em;
}

#destination{
  position: absolute;
  left: calc(50% - 19%/2);
  top: 0%;
}

#frequency{
  position: absolute;
  right: 0em;
  top: 0%;
}

.bounds{
  position: absolute;
  width: 53%;
  top: 11em;
  left: calc(50% - 80%/2);
  font-family: Sofia Pro;
  font-weight: 500;
  font-size: .725em;
  color:black;
  line-height: 130%;
}

progress{
  width: 367%;
}

#eastbound{
  position:absolute;
  width: 43%;
  top: 0%;
}

#northbound{
  position: absolute;
  width: 43%;
  top: 95px;
}

#southbound{
  position: absolute;
  width: 43%;
  top: 157px;
}

#reroute{
  position: absolute;
  width: 43%;
  top: 245px;
}

#outofservice{
  position: absolute;
  width: 43%;
  top: 315px;
}

.destinations{
  position: absolute;
  width: 30%;
  height: 570%;
  left: 45%;
  top: 12.3em;
  color: black;
  font-family: Sofia Pro;
  font-weight: 500;
  font-size: .72em;
  line-height: 130%;
}

#randolph{
  position:absolute;
  top: 0em;
}

#navy-pier{
  position: absolute;
  top: 2.6em;
}

#devon{
  position: absolute;
  top: 8.3em;
}

#stony{
  position: absolute;
  top: 13.7em;
}

#navy-pier2{
  position: absolute;
  top: 16.2em;
}

#jackson{
  position: absolute;
  top: 21.3em;
}

#cottage{
  position: absolute;
  top: 27.3em;
}

#madison{
  position: absolute;
  top: 30em;
}

#streeterville{
  position: absolute;
  top: 32.5em;
}

.frequencies{
  position: absolute;
  width: 9.5em;
  height: 570%;
  right: 2.5em;
  top: 10.5em;
  color: black;
  font-family: Sofia Pro;
  font-weight: 500;
  font-size: .83em;
  text-align: right;
  line-height: 130%;
}

#freq1{
  position: absolute;
  top: 0em;
}

#freq2{
  position: absolute;
  top: 2.9em;
}

#freq3{
  position: absolute;
  top: 8.7em;
}

#freq4{
  position: absolute;
  top: 14.3em;
}

#freq5{
  position: absolute;
  top: 17.2em;
}

#freq6{
  position: absolute;
  top: 22.5em;
}

#freq7{
  position: absolute;
  top: 28.8em;
}

#freq8{
  position: absolute;
  top: 31.5em;
}

#freq9{
  position: absolute;
  top: 34.1em;
}

.buttons{
  position:absolute;
  width: 80%;
  left: 12%;
/*   left: calc(50% - 45%/2); */

  top: 860%;
  font-family: Sofia Pro;
  text-align: center;
}

#track{
  position: relative;
  width: 12em;
  height: 3em;
/*   left: calc(50% - 60%/2); */
  font-size: 15px;
  background-color: #2F80ED;
  border-radius: 8px;
  border-color: #2F80ED;
  color: white;
}

#plan{
  position: relative;
  width: 12em;
  height: 3em;
  top: 40%;
/*   left: calc(50% - 60%/2); */
/*   top: 40%; */
  font-size: 15px;
  background-color: white;
  border-radius: 8px;
  border-color: #2F80ED;
  color: #2F80ED;
}

#route-to-stop{
  position: relative;
  width: 12em;
  height: 3em;
  top: 80%;
  font-size: 15px;
  background-color: white;
  border-radius: 8px;
  border-color: #2F80ED;
  color: #2F80ED;
}
