:root {
    --blue-color: #046FFF;
    --orange-color: #FF4F03;
    --heading-color: #353535;
}

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic styling */

html {
    font-size: 10px;
}

@media only screen and (max-width:770px){
    html {
        font-size: 9px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(179.84deg, #F7FBFF 33.74%, rgba(232, 241, 253, 0.827324) 70.62%, rgba(172, 204, 246, 0.170802) 96.57%, rgba(157, 194, 244, 0) 99.77%);
    background-repeat: no-repeat;
    height: 100%;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

/* Header styling */

.header {
    background: var(--blue-color);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    color: #fff;
}

@media only screen and (max-width:1024px){ /* ipad pro */
    .header {
        background: transparent;
        padding: 0;
    }

    .header-heading {
        padding: 1.5rem 3rem 1rem 3rem;
        background: var(--blue-color);
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
    }
}

.header-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-heading h3 {
    font-weight: 100;
    font-size: 1.4rem;
    margin-bottom: .8rem;
}

.header-heading h1 {
    font-weight: 400;
    font-size: 2.2rem;
}

/* Main content */

.main {
    width: 80%;
    margin: 0 auto;
    max-width: 120rem;
    margin-top: 3.3rem;
}

@media only screen and (max-width:550px){
    .main {
        width: 90%;
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    font-weight: 700;
    color: var(--heading-color);
}

.main-heading {
    flex: 1;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.main-heading h2 {
    font-size: 1.8rem;
}

/* Data */

.data-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.data-list-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: .3rem;
    font-weight: 700;
}

.data-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-left: .55rem;
}

.data-list-item-data {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

@media only screen and (max-width:550px){
    .data-list-item-data {
        font-size: 1.2rem;
    }
}

.data-list-item-data-num {
    flex: 1;
}

.data-list-item-data-text {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.data-list-item-graph {
    position: relative;
}

.graph-back {
    height: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.graph-front {
    height: .5rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 123;
}

.graph-orange {
    background: var(--orange-color);
}

.graph-blue {
    background: var(--blue-color);
}


/* Call to action */

.cta {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 5.3rem;
}

@media only screen and (max-width:670px){
    .cta-content {
        display: flex;
        flex-direction: column;
    }
}

/* Buttons */

.btn {
    border: none;
    border-radius: .4rem;
    padding: 1rem 2rem;
    margin: 0 3rem;
    cursor: pointer;
}

@media only screen and (max-width:778px){
    .btn {
        margin: 0 1.5rem;
    }
}

@media only screen and (max-width:670px){
    .btn {
        margin-bottom: .5rem;
        padding: 1rem;
    }
}

.btn-primary {
    background: var(--blue-color);
    color: #fff;
}

.btn-secondary {
    background: transparent;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}
